<div ng-controller="c1 as c1" style="display: flex; justify-content: space-around">

    <div>
        <a href="#!/">Home</a>
        <a href="#!/product">Product</a>
        <a href="#!/about">about</a>
    </div>

    <div>
        <div>Name: {{name}} <br/> {{text1}} </div>

        <input type="text" ng-model="username" placeholder="login"><br/>
        <input type="text" ng-model="password" placeholder="password"><br/>

        <input type="button" ng-if="btn1" ng-click="logout()" value="logout">

        <input type="button" ng-if="!btn1" ng-click="login()" value="login">

        <button ng-if="!btn1"><a href="#!/registration">registration</a></button>
    </div>

</div>
